<p>Mi producto es: {{nombre}}

    {{datos.edad}}
</p>

<button (click)="asignarNombre()">Clickeame</button>

<p *ngIf="mostrar">
    Mi nombre es {{nombreBoton}}
</p>
<p *ngFor="let ingrediente of ingredientes; let i  = index"> - {{ i + 1}} {{ingrediente }}</p>


<form [formGroup]="registroForm" (ngSubmit)="onSubmit(registroForm)">
    <input type="text" formControlName="primerNombre" placeholder="Ingrese su 1er nombre">
    <input type="text" formControlName="segundoNombre" placeholder="Ingrese su 2do nombre">
    <input type="number" formControlName="edad" placeholder="Ingrese su edad">

    <button type="submit">Enviar</button>
</form>

<div *ngIf="registroForm.controls['primerNombre'].touched">
    <div *ngIf="registroForm.controls['primerNombre'].errors.required">
        <p style="color: red">Hay un error</p>
    </div>
</div>
